$bootstrap-bg: #7952b3;
$bootstrap-fonts-yellow: #ffe484;
$bootstrap-fonts-white: rgba(255, 255, 255, 0.85);
$html: #e34c26;
$css: #2965f1;
$sass: #cc6699;
$npm: #cb3837;
$nodejs: #3c873a;
$bgcard: #f8f9fa;
$linkedin-blue: #007bb5;
$linkedin-black: #000000;
$linkedin-lightblue: #00a0dc;
$linkedin-white:#ffffff;


